<div class="admin-layout container-fluid">
    <app-side-bar></app-side-bar>
    <div class="main-content mt-4 mt-lg-0">
        <app-header></app-header>
        <div>
            <router-outlet></router-outlet>

        </div>
    </div>
</div>