.form-control:focus {
    box-shadow: none;
    outline: 0;
}

.dropdown-menu {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    border-radius: 17px;
}

.image-noti {
    width: 40px;
    height: 40px;
}

.border-light- {
    border-color: rgb(206 200 200 / 20%) !important;
}

.dropdown-toggle::after {
    content: unset;
}

@media (max-width:992px) {
    .position-lg-fixed {
        position: fixed;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    }
    .dropdown-menu {
        left: 24px !important;
        right: 5px !important;
        top: 6px !important;
    }
    .dropdown {
        position: unset;
    }
}