<div class=" border-bottom py-3 border-light main-bk px-4 d-flex w-100 justify-content-between align-items-center position-lg-fixed top-0 z-3 mb-4" style="left: 0;">
    <i class="fa-solid fa-bars d-lg-none text-secondary"></i>
    <div class="input-group shadow-sm d-none d-lg-flex" style="width: 400px;">
        <span class="input-group-text border-0 bg-white" id="basic-addon1">
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <input type="text" class="form-control border-0" placeholder="بحث" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div style="width: max-content;" class=" d-flex align-items-center">
        <i class="fa-solid fa-magnifying-glass d-lg-none pointer text-secondary"></i>
        <div class="dropdown">
            <div class=" position-relative  dropdown-toggle pointer" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-circle position-absolute border border-white rounded-circle" style="color: #FFB703;font-size: 10px;
                right: 11px;"></i>
                <i class="fa-solid fa-bell sec-color  ms-3 mx-lg-3 fa-lg"></i>

            </div>

            <ul class="dropdown-menu border-0">
                <li>
                    <a class="dropdown-item" href="#">
                        <div class=" d-flex w-100 py-2 border-bottom border-light-">
                            <img src="assets/images/profile-user.svg" alt="" class="image-noti rounded-circle">
                            <div class="ms-3">
                                <h6 class=" text-secondary mb-1 small">لقد تمت الموافقة على طلب الانضمام</h6>
                                <p class=" small opacity-75 sec-color mb-0">منذ 5 ساعات</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <div class=" d-flex w-100 py-2 border-bottom border-light-">
                            <img src="assets/images/profile-user.svg" alt="" class="image-noti rounded-circle">
                            <div class="ms-3">
                                <h6 class=" text-secondary mb-1 small">لقد تمت الموافقة على طلب الانضمام</h6>
                                <p class=" small opacity-75 sec-color mb-0">منذ 5 ساعات</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <div class=" d-flex w-100 py-2 border-bottom border-light-">
                            <img src="assets/images/profile-user.svg" alt="" class="image-noti rounded-circle">
                            <div class="ms-3">
                                <h6 class=" text-secondary mb-1 small">لقد تمت الموافقة على طلب الانضمام</h6>
                                <p class=" small opacity-75 sec-color mb-0">منذ 5 ساعات</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>




        <h6 class=" small text-white mb-0 d-none d-lg-block">عبدالله ناصر</h6>

    </div>
</div>