<div class=" container">
    <div class="row">
        <div class="col-lg-12">
            <app-table [headers]="['رقم الطلب','اسم المتقدم','تاريخ الطلب','حالة الطلب','الفرع']" [data]='data' [headerToKeyMap]="{'رقم الطلب': 'num', 'اسم المتقدم': 'name', 'تاريخ الطلب': 'date', 'حالة الطلب': 'status','الفرع':'branch'}"></app-table>

        </div>
    </div>
</div>
