<div class=" container">
    <div class="row">
        <div class="col-lg-4 mb-4" *ngFor="let item of data">
            <div class="card h-100" >

                <div class="card-body">
                  <h5 class="card-title">{{item.title}}</h5>
                  <p class="card-text">{{item.body}}.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</div>
