.bootstrap .btn-primary{
    border-color: #1BA9C3;
    font-family: "Brando-Arabic";
    color: #1BA9C3;;
    border-radius: 8px;
    background: none;
    border: 1px solid #1BA9C3;
}

.bootstrap .btn-primary:hover{
    background: #1BA9C3;
    border: none;
}
.btn.bg-blue {
    text-align: end;
    background: #1CAEC8;
    border-radius: 5px;
    border: none;
}

.btn-secondry {
    padding: 0;
}

.btn-secondry-inner {
    display: inline-block;
    padding: 0 32px;
    color: #fff;
    background-color: #1CAEC8;
    height: 50px;
    line-height: 50px !important;
    text-transform: none !important;
    font-weight: 700;
    border-radius: 90px !important;
    border: none !important;
}

.btn-secondry {
    background-color: transparent;
    transition: all .3s ease-in-out;
    position: relative;
    display: inline-block;
    backface-visibility: hidden;
    position: relative;
    border: none;
    text-align: center;
    white-space: nowrap;
    line-height: 1.1;
    will-change: transform
}


.btn-secondry:before {
    width: 100%;
    height: 100%;
    padding: 4%;
    display: inline-flex;
    align-items: center;
    position: absolute;
    background-color: #1BA9C2;
    content: "\e5c4";
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: "Material Icons";
    border-radius: 90px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}