.button {
    border: 0;
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 12px;
    color: #fff;
    text-transform: uppercase;
    /* font-size: 1rem; */
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--sec-color);
    border-radius: 12px;
    z-index: -2;
}

.button.sec-bk:after {
    background-color: var(--main-color);
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    transition: all 0.3s;
    border-radius: 12px;
    z-index: -1;
}

.button.sec-bk:before {
    background-color: var(--sec-color);
}

.button:hover {
    color: #fff;
}

.button:hover:before {
    width: 100%;
}