:root {
    --main-color: #17355A;
    --sec-color: #19AEC8;
    --light: #FAFAFA;
    --success: #2DB889
}

.main-color {
    color: var(--main-color);
}

.main-bk {
    background-color: var(--main-color);
}

.light-bk {
    background-color: var(--light);
}

.sec-color {
    color: var(--sec-color);
}

.sec-bk {
    background-color: var(--sec-color);
}

.custom-shadow {
    box-shadow: 1px 5px 15px #0000001F;
}

.pointer:hover {
    cursor: pointer;
}
/* page Scroll */
::-webkit-scrollbar {
    width: .2em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: var(--sec-color);
    outline: 1px solid var(--sec-color);
}

a,
a:hover {
    text-decoration: none;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #57cef6;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(71 168 188 / 22%);
}

::placeholder {
    color: #D1D1D1 !important;
    font-size: 12px;
}

select {
    font-size: 14px !important;
    color: rgb(186, 186, 186) !important;
}

.form-check-input:checked {
    background-color: var(--sec-color);
    border-color: var(--sec-color);
}

.text-success {
    color: var(--success) !important;
}

h1,
div,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
a,
input,
table,
tr,
td,
label,
select {
    font-family: 'Cairo', sans-serif !important;
}