/* text underline animation */

.line::after,
line::before {
    content: '';
    position: absolute;
    background-color: #1AAEC8;
    z-index: -1;
    height: 100%;
}

.shape.line:hover {
    color: white;
}

.line::after {
    width: 0%;
    height: 100%;
    left: 0;
    bottom: 0;
    transition: all ease 0.6s;
    -webkit-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
}

.line::before {
    height: 0%;
    left: 0;
    bottom: 0;
    transition: width ease 0.4s;
    -webkit-transition: width ease 0.4s;
    -moz-transition: width ease 0.4s;
    -o-transition: width ease 0.4s;
}

.line:hover::after {
    width: 100%;
}


/* card's button animation */

.btn-secondry:hover::before {
    -webkit-box-shadow: 0 10px 40px rgb(165, 220, 229);
    box-shadow: 0 10px 40px rgb(165, 220, 229);
}

.btn-secondry:hover {
    color: #fff;
    padding-left: 50px;
}

.btn-secondry:hover::after {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px)
}


/* Flashing */

.search-button:hover img,
.back-arrow i:hover,
.navbar-toggler i:hover,
.input-group-text img:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

.success-message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #4caf50;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
}

.checkmark {
    width: 52px;
    height: 52px;
    stroke-width: 2;
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    fill: none;
    stroke: var(--success);
    animation: draw-checkmark 1.5s ease-in-out forwards;
}


/* Keyframes for drawing the checkmark */

@keyframes draw-checkmark {
    0% {
        stroke-dashoffset: 166;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.message {
    margin-left: 15px;
    opacity: 0;
    transform: translateX(-10px);
    animation: fade-in 1s ease-in-out 1.5s forwards;
}


/* Keyframes for fade-in animation */

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}