@media (max-width:992px) {
    .small,
    small {
        font-size: .775em !important;
    }
    .h6,
    h6 {
        font-size: .8rem !important;
    }
    .h4,
    h4 {
        font-size: calc(1.075rem + .3vw) !important;
    }
    .button,
    p {
        font-size: .9rem !important;
    }
}