.shape.line {
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 0 1px;
    transition: color ease 0.3s;
    border-bottom: 9px solid #1AAEC8;
    cursor: pointer;
}


.shape.circle.small::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #F1F2F7;
    border-radius: 50%;
    position: absolute;
    transform: translate(-280%, 60%);
}

.shape.circle.big {
    width: 100px;
    height: 100px;
    background: #F1F2F7;
    border-radius: 50%;
    position: relative;
    text-align: center;
    padding: 0;
    font-family: "Brando-Arabic-Bold";
    margin: auto;
}

.shape.circle.medium {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 0px;
    top: 0px;
    transform: translate(80%, -20%);
    background-color: #17355A;
    text-align: center;
    color: white;
}