<div class="side light-bk" [ngClass]="{'hidden-menu': !menuOpen,'closed': isClosedClass}">
    <div class=" text-center my-4 w-100 d-flex justify-content-between align-items-center mb-lg-5">
        <img src="assets/images/admin-logo.svg" alt="" class="mx-auto d-closed-none">
        <img src="assets/images/closed.svg" alt="" class="mx-auto d-none d-closed-block">
        <i class="fa-solid fa-bars-staggered sec-color fa-lg pointer me-3 d-closed-none" (click)="toggleMenu()"></i>

    </div>
    <div class="item d-flex position-relative py-2 pointer mb-2 align-items-center mb-lg-4" routerLink="/" [routerLinkActive]="'active'" (click)="onMenuItemClick()" [routerLinkActiveOptions]="{ exact: true }">
        <img src="assets/icons/admin-menu/home.svg" alt="">
        <h6 class="ms-4 mb-0">الرئيسية</h6>
    </div>
    <div class="item d-flex position-relative py-2 pointer mb-2 align-items-center mb-lg-4" routerLink="/profile" [routerLinkActive]="'active'" (click)="onMenuItemClick()" [routerLinkActiveOptions]="{ exact: true }">
        <img src="assets/icons/admin-menu/profile.svg" alt="">
        <h6 class="ms-4 mb-0">الملف الشخصي</h6>
    </div>
    <!-- <div class="item d-flex position-relative py-2 pointer mb-2 align-items-center mb-lg-4" routerLink="/requests" [routerLinkActive]="'active'" (click)="onMenuItemClick()">
        <img src="assets/icons/admin-menu/req.svg" alt="">
        <h6 class="ms-4 mb-0">طلبات الانضمام</h6>
    </div>
    <div class="item d-flex position-relative py-2 pointer mb-2 align-items-center mb-lg-4" routerLink="/companies" [routerLinkActive]="'active'" (click)="onMenuItemClick()">
        <img src="assets/icons/admin-menu/companies.svg" alt="">
        <h6 class="ms-4 mb-0">الشراكات</h6>
    </div>
    <div class="item d-flex position-relative py-2 pointer mb-2 align-items-center mb-lg-4" routerLink="/services" [routerLinkActive]="'active'" (click)="onMenuItemClick()">
        <img src="assets/icons/admin-menu/companies.svg" alt="">
        <h6 class="ms-4 mb-0">الخدمات</h6>
    </div>
    <div class="item d-flex position-relative py-2 pointer mb-2 align-items-center mb-lg-4" routerLink="/clientsRequests" [routerLinkActive]="'active'" (click)="onMenuItemClick()">
        <img src="assets/icons/admin-menu/Checklist.svg" alt="">
        <h6 class="ms-4 mb-0">طلبات العملاء </h6>
    </div>
    <div class="item d-flex position-relative py-2 pointer mb-2 align-items-center mb-lg-4" routerLink="/partenersRequests" [routerLinkActive]="'active'" (click)="onMenuItemClick()">
        <img src="assets/icons/admin-menu/Checklist.svg" alt="">
        <h6 class="ms-4 mb-0">طلبات الجهة</h6>
    </div>
    <div class="item d-flex position-relative py-2 pointer mb-2 align-items-center mb-lg-4" routerLink="/manageUsers" [routerLinkActive]="'active'" (click)="onMenuItemClick()">
        <img src="assets/icons/admin-menu/Checklist.svg" alt="">
        <h6 class="ms-4 mb-0">ادارةالمستخدمين</h6>
    </div>
    <div class="item d-flex position-relative py-2 pointer mb-2 align-items-center mb-lg-4 d-none d-closed-block w-100 fa-lg" (click)="toggleMenu()" style="background-color: #c0e3eb;
    line-height: 28px;
    height: 45px">
        <i class="fa-solid fa-arrow-left sec-color fa-lg pointer me-2 "></i>

    </div> -->



    <div class="menu-footer ">
        <h6 class=" text-secondary opacity-50 text-center small copy-right px-4 mb-4 d-closed-none">جميع الحقوق محفوظة لبنك التنمية الاجتماعية</h6>
    </div>
</div>