.side {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    align-items: flex-start;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.closed {
    width: 84px !important;
}

.closed .d-closed-none {
    display: none !important;
}

.closed .d-closed-block {
    display: inline-block !important;
}


/* naser */

.side {
    /* position: absolute;
    right: 0; */
    width: 17.1875rem;
}

@media (max-width:991px) {
    .closed {
        width: 81px !important;
    }
}

.menu-footer {
    margin-top: auto;
}

:host {
    /* background-color: #FAFAFA; */
}

.item {
    padding-right: 30px;
    z-index: 1;
}

.item h6 {
    transition: all .5s ease-in-out;
    color: var(--sec-color);
}

.item.active h6,
.item:hover {
    color: var(--main-color);
}

.item.d-none.d-closed-block::after,
.item.d-none.d-closed-block::before {
    content: unset !important;
}

.item::after {
    transition: all .5s ease-in-out;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--main-color);
    width: .0000003px;
    border-radius: 5px;
}

.item::before {
    transition: all .5s ease-in-out;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--sec-color);
    width: .0003px;
    border-radius: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    opacity: .3;
    z-index: -1;
}

.item.active::after,
.item:hover::after {
    width: 5px;
}

.item.active::before,
.item:hover::before {
    width: 73px;
}

.hidden-menu {
    display: none;
    /* Hides the menu content */
}


/* Media query to show the menu on large screens */

@media (min-width: 992px) {
    .hidden-menu {
        display: flex;
        /* Show the menu on large screens */
    }
}

@media (max-width:992px) {
    .side {
        position: absolute;
        z-index: 999999;
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 1px 5px 15px #0000001F;
        right: 0;
        height: unset;
        top: 65px;
    }
    .item img {
        width: 27px;
        /* padding: 0 20px; */
    }
}

.side img {
    min-width: 30px;
}