.admin-layout {
    display: flex;
    min-height: calc(100vh);
    /* padding: 0; */
    /* padding: 20px;
    border-radius: 20px !important;
    box-shadow: 0 1rem 80rem rgba(var(--bs-body-color-rgb), .175)!important; */
}

.main-content {
    flex: 1;
    /* padding: 0 30px 0 10px; */
    overflow-y: auto;
}

@media (max-width:992px) {
    .main-content {
        padding: 0
    }
    .admin-layout {
      /* padding: 5px; */
    }
}

:host {
    display: grid;
    /* padding: 20px;
    border-radius: 20px !important; */
}