<div class="admin-layout container-fluid pe-0">
    <app-side-bar></app-side-bar>
    <div class="main-content mt-4 mt-lg-0">
        <app-header></app-header>
        <div class="py-4 py-lg-3">
            <router-outlet></router-outlet>

        </div>
    </div>
</div>