<!-- <div class="card" #card>
    3D Card
    <div class="glow"></div>
</div> -->
<div class=" bg-white rounded-4 p-3 custom-shadow card border-0" #card>
    <div class="glow rounded-4"></div>
    <div class="light-bk p-3 rounded-4 text-center">
        <img [src]="data.img" alt="" class="card-image">
    </div>
    <div class="py-3">
        <h5 class=" sec-color fw-bold h6 mb-1"> {{data.name}}</h5>
        <p class=" text-secondary">{{data.des}}</p>
        <h6 class=" small sec-color text-end opacity-75 pointer mb-0" [routerLink]="data.url"> عرض التفاصيل</h6>
        <!-- <a >

        </a> -->

    </div>


</div>