<h4 class=" main-color mb-4 fw-bold h5">طلبات الانضمام</h4>
<div class=" rounded-4 p-4 text-center custom-shadow mb-5 bg-white">
    <img src="/assets/images/empty.svg" alt="" class="mb-3">
    <p class="text-secondary">لا يوجد لديك طلبات انضمام</p>
    <button class="button btn">تقديم طلب انضمام</button>
</div>
<h4 class=" main-color mb-4 fw-bold">الشراكات النشطة</h4>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 mb-4 col-xxl-3" *ngFor="let card of cards">
            <app-animated-card [data]="card"></app-animated-card>

        </div>

    </div>
</div>