<h4 class=" main-color mb-4 fw-bold h5"> الملف الشخصي </h4>
<div class="container-fluid mb-5 ">
    <div class="row">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <div class=" rounded-4 p-4 text-center custom-shadow bg-white  d-flex w-100 justify-content-between">
                <div style="width: max-content;" class=" d-flex">
                    <img src="assets/images/profile-user.svg" alt="" class="rounded-circle avatar-image">
                    <div class=" ms-3">
                        <h6 class=" sec-color text-start fw-bold">عبد الله ناصر المحمدي</h6>
                        <p class=" small text-secondary mb-0 text-start">ممثل منشأة</p>
                        <p class=" small text-secondary mb-0 text-start">المملكة العربية السعودية</p>
                    </div>
                </div>
                <div class=" bg-white  rounded-3 edit-btn pointer" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="assets/icons/eather-edit-2.svg" alt="">
                </div>


            </div>

        </div>
        <div class="col-lg-6">
            <div class=" rounded-4 p-4 text-center custom-shadow bg-white d-flex w-100 h-100 justify-content-between">
                <div style="width: calc(100% - 55px);" class=" d-lg-flex justify-content-between">
                    <div class="mb-4 mb-lg-0 ">
                        <p class=" small text-secondary mb-0 text-start">الجوال</p>
                        <p class=" small main-color mb-0 text-start">+556423232</p>
                    </div>
                    <div class=" ms-auto">
                        <p class=" small text-secondary mb-0 text-start">البريد الالكتروني</p>
                        <p class=" small main-color mb-0 text-start">Abdullah.NN@gmail.com</p>
                    </div>
                </div>
                <div class=" bg-white  rounded-3 edit-btn pointer" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="assets/icons/eather-edit-2.svg" alt="">
                </div>


            </div>

        </div>

    </div>
</div>
<h4 class=" main-color mb-4 fw-bold h5">صندوق الرسائل</h4>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header border-0">
                <!-- <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label main-color mb-3">الاسم بالكامل</label>
                                <input type="email" class="form-control text-start" placeholder="قم بتعديل اسمك">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label main-color mb-3">رقم الجوال</label>
                                <input type="email" class="form-control text-start" placeholder="قم بتعديل رقم الجوال">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label main-color mb-3">الجهة المرخصة</label>
                                <input type="email" class="form-control text-start" placeholder="قم بتعديل الجهة المرخصة">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label main-color mb-3">البريد الإلكتروني</label>
                                <input type="email" class="form-control text-start" placeholder="قم بتعديل البريد الإلكتروني">
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" text-end">
                    <button class="button btn btn-sm ">حفظ</button>

                </div>
            </div>


        </div>
    </div>
</div>
<div class=" rounded-4 p-4 text-center custom-shadow bg-white">
    <div class=" inbox pe-4">
        <div class=" d-flex align-items-center mb-2 chat-item pointer w-100 p-3 rounded-5 position-relative" *ngFor="let item of items" [ngClass]="{ 'new': item.isNew }">
            <img src="assets/images/profile-user.svg" alt="" class="rounded-circle avatar-image">
            <div class=" ms-3">
                <h6 class=" sec-color text-start fw-bold mb-1 small">
                    {{item.title}}
                </h6>
                <p class=" small text-secondary mb-0 text-start">
                    {{item.body}}
                </p>
            </div>
        </div>


    </div>


</div>