.edit-btn {
    width: 33px;
    height: 33px;
    padding-top: 3px;
    box-shadow: 1px 2px 15px #00000014;
    transition: all .2s ease-in-out;
}

.edit-btn:hover {
    background-color: var(--main-color) !important;
}

.edit-btn:hover img {
    filter: brightness(0) invert(1)
}

.avatar-image {
    width: 66px;
    height: 66px;
}

.inbox {
    height: 300px;
    overflow-y: scroll;
}

.chat-item .avatar-image {
    height: 50px;
    width: 50px;
}

.chat-item {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.new {
    background-color: rgb(163 223 233 / 41%);
}

.new::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--sec-color);
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.chat-item:hover {
    background-color: rgb(163 223 233 / 41%);
}

@media (max-width:992px) {
    .avatar-image {
        width: 55px;
        height: 55px;
    }
}