<h4 class="main-color mb-4 h5 fw-bold d-flex justify-content-between align-items-center">

    <div class=" px-2 d-flex w-100 align-items-center">
        <div class=" bg-white rounded-3 p-2 custom-shadow d-flex me-2" *ngIf="withSearch">
            <div class="input-group d-flex " >
                <span id="basic-addon1" class="input-group-text border-0 bg-white"><i  class="fa-solid fa-magnifying-glass"></i></span
                    ><input type="text" placeholder="بحث"  class="form-control border-0 bg-white"  [(ngModel)]="searchQuery" (input)="search()" style="height: 27px;"></div>
        </div>
        <div class=" d-flex ms-auto" *ngIf="withicons">
            <!-- <div class="dropdown me-2">
                <button class="btn custom-shadow bg-white sec-color dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-sliders"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <div class="dropdown-item main-color mb-3 mt-2 fw-bold">حالة الطلب</div>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li><a class="dropdown-item mb-2" href="#">الكل</a></li>
                    <li><a class="dropdown-item mb-2" href="#">قيد المراجعة</a></li>
                    <li>
                        <a class="dropdown-item mb-2" href="#">مكتمل</a>
                    </li>

                </ul>
            </div> -->
            <!-- <app-hijri-melady-calendar (selectedDateChange)="setSelectedDate($event)" #picker *ngIf="openCalendar"></app-hijri-melady-calendar> -->

            <!-- <div class="dropdown me-2">
                <button class="btn custom-shadow bg-white sec-color dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-calendar-days"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div> -->
            <div class="dropdown" (click)="exportCSV()">
                <button class="btn custom-shadow bg-white sec-color dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-download"></i>
                </button>
            </div>
            <button class="btn  custom-shadow bg-white sec-color ms-2" style="height: 37.5px;
            width: 44px;" (click)="openModal(null)">
                <i class="fa-solid fa-user-plus fa-sm"></i>
            </button>
        </div>
    </div>

</h4>
<table style="width: 100%;">
    <thead>
        <tr>
            <th scope="col" *ngFor="let header of headers">{{header}}</th>
            <th *ngIf="withControls">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </th>

        </tr>
    </thead>
    <tbody class=" w-100">
        <tr *ngFor="let item of filteredDataCopy">
            <td *ngFor="let header of headers" [attr.data-label]="header">
                <!-- <ng-container *ngIf="!hasHeaderToKeyMapKeys || header!= 'status'"> -->
                    <ng-container *ngIf="headerToKeyMap[header] !== 'status' && header!= 'status'; else statusColumn">
                        {{ hasHeaderToKeyMapKeys ? item[headerToKeyMap[header]] : item[header]}}
                      </ng-container>
                <!-- </ng-container> -->

            <!-- Custom rendering for 'status' column -->
            <ng-template #statusColumn>
                <span class="badge bg-warning" [ngClass]="{
                        'sec-bk': item.status == 'مكتمل',
                        'px-4': item.status == 'مكتمل',
                        'text-white': item.status == 'مكتمل' || item.status == 'تمت المراجعة',
                        'bg-warning': item.status == 'قيد المراجعة',
                        'bg-success': item.status == 'تمت المراجعة'

                      }">{{ item.status }}</span>
            </ng-template>

            </td>
            <td *ngIf="withControls">
                <div class="dropdown">
                    <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><span class="dropdown-item pointer" (click)="openModal(item)">تعديل </span></li>
                        <li><span class="dropdown-item pointer" (click)="deleteItem(item)">حذف</span></li>
                    </ul>
                </div>

            </td>

            </tr>


            </tbody>
            </table>
            <div class=" rounded-4 p-4 text-center bg-light text-secondary" *ngIf="filteredDataCopy.length ===0">
                لا يوجد بيانات
            </div>