table {
    border: none;
    border-collapse: separate;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0 1em;
    font-family: 'Cairo', sans-serif !important;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #FBFBFC;
    font-family: 'Cairo', sans-serif !important;
}

table th,
table td {
    padding: 1.5em 0;
    text-align: center;
    font-family: 'Cairo', sans-serif !important;
}

td:first-child,
th:first-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

td:last-child,
th:last-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


/*
tr:last-child td:first-child {
    border-bottom-right-radius: 20px;
}

tr:last-child td:last-child {
    border-bottom-left-radius: 20px;
} */

table th {
    background-color: #F9F9FB;
    color: var(--sec-color);
    font-size: .85em;
    /* letter-spacing: .1em; */
    text-transform: uppercase;
}

@media screen and (max-width: 992px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid rgb(202 151 255 / 14%);
        display: block;
        font-size: .8em;
        text-align: left;
        border-radius: 0 !important;
        padding: 15px;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: right;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

.dropdown-toggle::after {
    content: none;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: var(--main-color) !important;
    color: #fff !important;
}

.bg-success {
    background-color: #2CD3AC !important;
}

.form-control:focus {
    box-shadow: none;
}

/* @media (max-width:992px) { */
.btn.custom-shadow {
    height: 42px !important;
}

/* } */

@media (min-width:700px) {
    .form-control {
        width: 400px;
    }
}